<ion-header>
  <ion-navbar>
    <ion-title> News </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background-img">
  

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

  <ion-card *ngFor="let n of news_array">
  <img src="{{n.imagepath}}"/>
  <ion-card-content>
    <ion-card-title>
      {{n.title}}
      </ion-card-title>
    <p>
    {{n.description}}
    </p>
</ion-card-content>
</ion-card>



<!-- 
  <ion-item *ngFor="let n of news_array" style="text-align: center;">
      <h2 style="font-weight: bold;">{{n.title}}</h2>
       <p><ion-icon name="md-call"></ion-icon> {{n.discription}}</p>
      <p><ion-icon name="md-pin"></ion-icon> <img src="{{n.imagepath}}"/></p> 
    </ion-item>
 -->
</ion-list>

    <ion-fab right bottom [hidden]="!currentUser.isAdmin">
    <button ion-fab [navPush]="addprofilePage">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-fab>

   <!--  <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/news/news1.jpeg">
      </ion-thumbnail>
      <h2 style="overflow: initial; white-space: initial; font-size:0.9em">WD Weather</h2>
      <p style="overflow: initial; white-space: initial;">बारिश wd वेदर की है मौसम जैसलमेर के ऊपरी एरिये में ज्यादा है फलोदी और जोधपुर  जीराबेल्ट में हल्की पुलकि बौछार रहेगी और बादल वाही ज्यादा रहेगी मौसम बारिश से जीरा में बड़ा नुकसान हो ऐसा मौसम अभी तक नही आने की बात</p>
      
      </ion-item>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/news/news2.jpeg">
      </ion-thumbnail>
      <h2 style="overflow: initial; white-space: initial; font-size:0.9em">Ashvinbhai live on Zee Business 11:40 am</h2>
      <p style="overflow: initial; white-space: initial;"></p>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/news/coriander.jpg">
      </ion-thumbnail>
      <h2 style="overflow: initial; white-space: initial; font-size:0.9em;">Dhaniya futures contract on the NCDEX was volatile last week.</h2>
      <p style="overflow: initial; white-space: initial;">Revival in demand took the contract to a high of ₹6,999 per quintal.Pick-up in export demand for premium quality produce, coupled with subdued arrivals from the major markets on the back of farmers and stockists stocking the produce for better prices, also supported the price rise last week. The April month contract ended the week with a marginal gain of 1.84 per cent at ₹6,851 per quintal, while the May month contract climbed 2.03 per cent for the week.</p>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/news/news5.jpeg">
      </ion-thumbnail>
      <h2 style="overflow: initial; white-space: initial;  font-size:0.9em;">Indian bann Six commodity import which come form Vietnam</h2>
      <p style="overflow: initial; white-space: initial;"></p>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-left>
        <img src="assets/img/news/news6.jpeg">
      </ion-thumbnail>
      <h2 style="overflow: initial; white-space: initial;  font-size:0.9em;">Letter from Shri Arjun Meghwal</h2>
      <p style="overflow: initial; white-space: initial;"></p>
    </ion-item>
 -->
  
</ion-content>

